body{
    background-image: url(back2.jpg);
}

*{
    margin: 0;
    padding: 0;
}

header{
    color: white;
    background-color: darkblue;
    height:100px;
    font-size:80px;
    text-align: center;
    font-family: Cambria;
}
h1{
    color: white;
    background-color: darkblue;
    height:100px;
    font-size:80px;
    text-align: center;
    font-family: Cambria;
}
#div_esquerda{
    background-color:white;
    min-height: 388px;
    min-width: 400px;
    float:left;
    text-decoration: none;
}
#div_direita{
    background-color:white;
    height: 408px;
    width: 400px;
    float:right;
}
footer{
    clear:both;
    min-height: 429px;
    background-color:white;
    font-size:25px;
}
p{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    line-height: 54px;
}
.container{
    width: 1100px;
    margin: auto;
}